// Variables
$bg-ivory-white: #f9f9f9;
$bg-light-grey: #808080;
$bg-dark-grey: #333333;
$main-font: "Open Sans", sans-serif;
$special-font: "Pacifico", sans-serif;

* {
	margin: 0;
	box-sizing: border-box;
	font-family: $special-font;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $bg-ivory-white;
	padding: 1rem 2rem;

	img {
		height: 60px;
	}

	nav ul {
		display: flex;
		align-items: center;

		li {
			list-style: none;
			padding: 0 1rem 0 1rem;

			a {
				color: $bg-light-grey;
				margin-right: 1.25rem;
				text-decoration: none;
				text-transform: lowercase;

				&#active {
					color: $bg-dark-grey;
					font-weight: bold;
				}

				&:hover {
					border-bottom: 2px solid $bg-dark-grey;
				}
			}
		}
	}
}
