@font-face {
	font-family: "Blessings Through Raindrops";
	src: url("/assets/custom_font.ttf");
}

// @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
// font-family: 'Chewy', cursive;

// Fonts
$main-font: "Open Sans", sans-serif;
$alt-font: "Blessings Through Raindrops", sans-serif;

// Backgrounds
$bg-ivory-white: #f9f9f9;
$bg-light-grey: #808080;
$bg-dark-grey: #333333;
